<!DOCTYPE html>
<html>
  <head>
    <title>Query Examples</title>
  </head>
  <body>
    <h1>Query Examples</h1>

    <h2>Books by {{ selected_author.name }}</h2>
    {% for book in books_by_author_name %}
    <p>{{ book.title }}</p>
    {% endfor %}

    <h2>Books in {{ selected_tag }}</h2>
    {% for book in books_by_tag_name %}
    <p>{{ book.title }}</p>
    {% endfor %}

    <h2>Authors with 'amet' in Bio</h2>
    {% for author in authors_by_keyword %}
    <p>{{ author.name }}</p>
    {% endfor %}

    <h2>Books with rating greater than four</h2>
    {% for book in books_by_rating_gt_than_four %}
    <p>{{ book.title }}</p>
    {% endfor %}

    <h2>Profiles with specific website</h2>
    {% for profile in profiles_with_specific_website %}
    <p>{{ profile.user }}</p>
    {% endfor %}

    <h2>Books without reviews</h2>
    {% for book in books_without_rating %}
    <p>{{ book.title }}</p>
    {% endfor %}

    <h2>Authors with greatest number of books</h2>
    {% for author in authors_greater_books_count %}
    <p>{{ author.name }} {{ author.book_count}}</p>
    {% endfor %}

    <h2>Book with big summary</h2>
    {% for book in books_with_big_summary %}
    <p>{{ book.title }}</p>
    {% endfor %}

    <h2>Reviews for {{ selected_author.name }}</h2>
    {% for review in reviews_for_specific_author %}
    <p>{{ review }}</p>
    {% endfor %}

    <h2>Books with multiple tags</h2>
    {% for book in books_with_multiple_tags %}
    <p>{{ book.title }} {{ book.tag_count }}</p>
    {% endfor %}
  </body>
</html>
